* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  max-width: 100%;
}

.container {
  margin: 3% 5%;
}

/*nav-bar*/
.nav-bar nav {
  display: flex;
}

.nav-bar nav ul {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 5%;
  gap: 40px;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}
li {
  list-style-type: none;
}
.btn1 {
  background-color: #000;
  color: #fff;
  padding: auto;
  border-radius: 7px;
  padding: 10% 12%;
}

/*hero-section*/
.hero-section {
  margin-top: 7%;
}

.hero-section h1 {
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 3%;
}
.hero-section p {
  font-size: 18px;
  margin-bottom: 3%;
}
.hero-section .btn2 {
  background-color: #000;
  color: #fff;
  padding: 1% 3%;
  border-radius: 7px;
  margin-bottom: 3%;
}

.hero-section img {
  width: 100%;
  border-radius: 5px;
}

/*section-2*/

.section-2 {
  width: 100%;
  margin-top: 7%;
}

.section-2 .images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 50px;
}
.section-2 .images img {
  border-radius: 10px;
  margin-top: 5%;
}

.section-2 h3 {
  margin: 3% 0 1% 0;
}

/*section-3*/

.section-3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 7%;
  width: 100%;
  gap: 260px;
}

.section-3 h1 {
  margin-bottom: 5%;
}

.section-3 h5 {
  margin-bottom: 1%;
}
.section-3 p {
  margin-bottom: 5%;
  font-size: 18px;
}

.section-3 .rhs img{
    border-radius: 7px;
}

.btn3{
  background-color: #000;
  color: #fff;
  padding: 1% 3%;
  border-radius: 7px;
  margin-right: 2%;
  margin-top: 7%;
}
.btn4 {
  padding: 1.5% 3%;
  border-radius: 7px;
  border-width: 0;
  margin-top: 7%;
}

.section-4 {
    width: 100%;
    margin-top: 7%;
}
.section-4 .main-conttainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;

}

.section-4 .main-conttainer img{
    width: 100%;
    border-radius: 5px;
    margin-top: 7%;
}
.section-4 .main-conttainer h5{
     margin: 3% 0 1% 0;
}

.section-5{
  margin-top: 7%;
}

.section-5 h1{
  margin-bottom: 5%;
}
.section-5 img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.section-5 .main-profiles{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}
.section-5 .main-profiles .profile{
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  gap: 10px;
}

.section-5 label{
  color: #000;
  font-weight: bold;
}

.section-5 h4{
  font-size: 1.5rem;
  margin-bottom: 5%;
}
.section-5 .lhs,.middle,.rhs{
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(253, 253, 253);
  box-shadow: inset 1px 1px 1px 1px grey;
}

/*Section-6*/
.section-6{
  margin-top: 7%;
}
.section-6 .top{
  background-color: rgb(233, 222, 222);
  display: flex;
  align-items: center;
  padding: 50px;
  gap: 10px;
  margin-bottom: 5%;
  


}
.section-6 .top button{
  position: absolute;
  left: 55%;

}
.section-6 .top button{
  position: relative;
}

.section-6 .btn5{
  background-color: #000;
  color: #fff;
  padding: 1% 3%;
  border-radius: 7px;
  
}
.section-6 .btn6{
  padding: 1.5% 3%;
  border-radius: 7px;
  border-width: 0;
}

.section-6 footer{
  display: flex;
  gap: 75%;
  align-items: last baseline;
}

.section-6 footer .lhs{
  display: grid;
  grid-template-rows: repeat(2,1fr);
  gap: 60px;
}

.lhs img{
  padding-left: 5px;
}

.section-6 footer .rhss{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 40px;
  
}

/*Hover*/

img:hover{
  transform: scale(0.9);
  border: 1px solid lime;
}

.section-5 .lhs:hover,.middle:hover,.rhs:hover{
   transform: scale(0.9);
  border: 1px solid lime;
}
